
ISPTicketMobileApp/ISPTicketMobileApp/ISPTicketMobileApp.Android/bin
ISPTicketMobileApp/ISPTicketMobileApp/ISPTicketMobileApp/bin
ISPTicketMobileApp/ISPTicketMobileApp/ISPTicketMobileApp.Android/obj
ISPTicketMobileApp/ISPTicketMobileApp/ISPTicketMobileApp/obj
ISPTicketMobileApp/.vs/ISPTicketMobileApp/DesignTimeBuild
